html,
body {
  font-family: "Ubuntu Mono", monospace;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  height: auto;
  padding: 0;
  margin: 0;
}

.blink {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.page {
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}

.text-center {
  text-align: center;
}

.navbar {
  padding-top: 70px;
  width: 420px;
  margin: auto;
}
.navbar ul {
  padding: 0px;
  margin: 0px;
  background-color: #ffffff00;
  list-style: none;
  border-radius: 6px;
}
.navbar ul li {
  display: inline;
}
.navbar ul li a {
  cursor: pointer;
  padding: 20px;
  display: inline-block;
  background-color: #ffffff00;
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #EDEDED;
  margin-right: 25px;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.navbar ul li a i {
  font-size: 27px;
}
.navbar ul li a:hover {
  border-bottom: 3px solid #03A9F4;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.navbar ul li a:hover i {
  color: #03A9F4;
}
.navbar ul li .active {
  border-bottom: 3px solid #03A9F4;
}
.navbar ul li .active i {
  color: #03A9F4;
}

.main {
  padding-left: 110px;
}
.main .coding {
  display: none;
}
.main .base h1 {
  color: #fff;
  font-size: 37px;
  border-left: 3px solid #03A9F4;
  padding-left: 16px;
}
.main .base p {
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
}
.main .base .text {
  max-height: 67vh;
  overflow: auto;
}

.main .base .text a {
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #141414;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding-bottom: 22px;
  padding-top: 22px;
}
.footer .text {
  margin-bottom: 21px;
}
.footer .text span {
  color: #fff;
}
.footer .contacts a {
  margin-right: 15px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 15px;
}
.footer .contacts a i {
  color: #fff;
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: none;
    background-color: #002b36;
  }

  .container {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }

  .main {
    padding-left: 0;
  }
  .main p {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main .base h1 {
    margin-bottom: 0;
  }

  .base .text {
    max-height: initial !important;
    margin-bottom: 75px;
  }

  .navbar {
    padding-top: 15px;
    width: auto;
  }
  .navbar ul li a {
    margin-right: 0;
    transition: none;
  }
  .navbar ul li a:hover {
    transform: none;
  }
}

/*# sourceMappingURL=site.css.map */
